// Styles for Modal which houses Gallery
#galleryModal {
    width: 90%;
    height: 90%;
}

// Styles for Gallery inside modal styles
#galleryMain {
    height: 35rem;
    .carousel .flickity-viewport {
        position: absolute;
        // width: 100%;
        min-height: 25rem;
        height: 100%;
        transition: height 250ms;
    }
    // /* cell inherit height from carousel */
    .carousel-cell {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
}
#galleryNav {
    margin-top: 2rem;
    .flickity-viewport {
        height: 8rem;
        .carousel-cell {
            height: 8rem;
            width: 8rem;
            border: 2px solid white;
            &.is-nav-selected {
                border-color: yellow;
            }
        }
    }
}
