// Styles for Modal which houses Gallery
#galleryModal {
    // width: 90%;
    // height: 90%;
}

// Styles for Gallery inside modal styles
#galleryMain {
    // &.carousel {
    //     padding-bottom: 33%;
    // }
    // /* viewport inherit size from carousel */
    .carousel .flickity-viewport {
        position: absolute;
        width: 100%;
        min-height: 25rem;
        height: auto;
    }
    // /* cell inherit height from carousel */
    .carousel-cell {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
        // img {
        //     min-width: 10rem;
        //     width: 100%;
        // }
    }
}
#galleryNav {
    margin-top: 2rem;
    .flickity-viewport {
        height: 8rem;
        .carousel-cell {
            height: 8rem;
            width: 8rem;
        }
    }
}
