@import 'flickityGallery';
#featured-hero {
    // height: $banner_height;
    .carousel {
        height: $banner_height;
    }
    .carousel-cell {
        color: white;
        height: $banner_height;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &.full-width {
            width: 100%;
        }
    }

}


// ACCESSIBILITY: aids keyboard navigation of carousel
.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
